.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 120px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.btn-clear {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.btn-clear:hover {
    background: rgba(255, 255, 255, 0.9);
}

.btn-split {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-split:hover {
    background: rgba(255, 255, 255, 0.9);
}